@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    background-image: url('/src/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:repeat-y;
    min-height: 100vh;
    color: whitesmoke;
}